*{
	margin: 0;
	padding:0;
	font-family: 'Josefin Sans', sans-serif;
	scroll-behavior: smooth;
}
header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 100px;
	box-sizing: border-box;
	color: black;
	z-index: 1;
	background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ) ;
}
.header{
	position: fixed;

}
header .logo{
	float: left;
	font-weight:bold;
	height: 70px;
	line-height: 70px;
	color: white;
}
header nav{
	float: right;
	/*background-color: white;*/
}
header nav ul{
	display: flex;
	margin: 0;
	padding: 0;
}
header nav ul li{
	list-style: none;
}
.activeBottom{
	border-bottom:3px solid white; 
}
/*.activeColor{
	color: #00b1b0 !important;
}*/
header nav ul li a{
	height: 70px;
	list-style: none;
	padding: 0 20px;
	line-height:70px;
	text-decoration: none;
	color: white;
	/*border-bottom: 1px solid rgba(0,0,0,.2);*/
}
/*header nav ul li a:hover{
	color: #00b1b0;
}
*/
.menu-toggle{
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}
@media only screen and (max-width: 935px) 
{
	header
	{
		padding: 0 20px !important;
		
	}
	.menu-toggle
	{
		display: block !important;
		color: white
	}
	header nav{
		/*display: none !important;*/
		position: absolute;
		width: 100%;
		height: 100%;
		top: 50px;
		left: -100%;
		transition: 0.5s;
		background: black;
		color: white;
		position: fixed;
		overflow-y: scroll;
	}
	header nav.active{
		left: 0;

	}
	header nav ul{
		display: block;
		text-align: center;
	}
	header nav ul li a{
		color: white;
		/*border-bottom: 1px solid rgba(0,0,0,.2);*/
	}
}



















































section{
	margin-top: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}
.form{
	width: 40%;
	height: 95%;
	
}
.form_info{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.form h1{
	font-size: 2.3rem;
}
.form h5{
	margin-top: 4vh;
	font-size: 1.1rem; 
}
.form_container{
	width: 100%;
	height: auto;

}
#p{
	margin-top: 10px;
}
input{
	margin-top: 10px;
	width:30vw;
	height:5vh;
	border:1px solid lightgray; 
}
span{
	color: lightgray;
}
.msg{
	width:30vw;	
	height: 15vh;
}

.map{
	width: 40%;
	height: 100vh;
	content: "";
  	clear: both;
  	display: table;
}
iframe{
	width:100%;
	height: 90%;
	content: "";
  	clear: both;
  	display: table;
	
}
@media only screen and (max-width: 800px) 
{
	section{
		margin-top: 400px;
		flex-direction: column;
	}
	.form{
		width: 80%;
		height: 100%;
		
	}
	.form_info{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.form h1{
		font-size: 2.3rem;
	}
	.form h5{
		margin-top: 4vh;
		font-size: 1.1rem; 
	}
	.form_container{
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

	}
	#p{
		margin-top: 10px;
	}
	input{
		margin-top: 10px;
		width:30vw;
		height:8vh;
		border:1px solid lightgray; 
	}
	span{
		color: lightgray;
	}
	.msg{
		width:30vw;	
		height: 18vh;
	}

	.map{
		margin-top: 30px;
		width: 40%;
		content: "";
	  	clear: both;
	  	display: table;

	}
	iframe{
		width:100%;
		content: "";
		height: 50vh;
	  	clear: both;
	  	display: table;
	}

}
@media only screen and (max-width: 630px) 
{
	.form h1{
		font-size: 2.3rem;
	}
	.form h5{
		margin-top: 4vh;
		font-size: 0.8rem; 
	}
	#p{
		font-size: 0.7rem;	
	}
}
@media only screen and (max-width: 467px) 
{
	.form h1{
		font-size: 2.3rem;
	}
	.form h5{
		margin-top: 4vh;
		font-size: 0.5rem; 
	}
	#p{
		font-size: 0.7rem;	
	}
}