*{
	margin: 0;
	padding:0;
	font-family: 'Josefin Sans', sans-serif;
	scroll-behavior: smooth;
}
header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 100px;
	box-sizing: border-box;
	color: black;
	z-index: 1;
	background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ) ;
}
.header{
	position: fixed;

}
header .logo{
	float: left;
	font-weight:bold;
	height: 70px;
	line-height: 70px;
	color: white;
}
header nav{
	float: right;
	/*background-color: white;*/
}
header nav ul{
	display: flex;
	margin: 0;
	padding: 0;
}
header nav ul li{
	list-style: none;
}
.activeBottom{
	border-bottom:3px solid white; 
}
/*.activeColor{
	color: #00b1b0 !important;
}*/
header nav ul li a{
	height: 70px;
	list-style: none;
	padding: 0 20px;
	line-height:70px;
	text-decoration: none;
	color: white;
	/*border-bottom: 1px solid rgba(0,0,0,.2);*/
}
/*header nav ul li a:hover{
	color: #00b1b0;
}
*/
.menu-toggle{
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}
@media only screen and (max-width: 935px) 
{
	header
	{
		padding: 0 20px !important;
		
	}
	.menu-toggle
	{
		display: block !important;
		color: white
	}
	header nav{
		/*display: none !important;*/
		position: absolute;
		width: 100%;
		height: 100%;
		top: 50px;
		left: -100%;
		transition: 0.5s;
		background: black;
		color: white;
		position: fixed;
		overflow-y: scroll;
	}
	header nav.active{
		left: 0;

	}
	header nav ul{
		display: block;
		text-align: center;
	}
	header nav ul li a{
		color: white;
		/*border-bottom: 1px solid rgba(0,0,0,.2);*/
	}
}



















































.header_container{
	width: 100%;
	height:90vh;
	/*position: relative;*/
	background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('././img/1.jpg') no-repeat center center / cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.header_container_box{
	width: 40vw;
	height: 55vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	border: 5px solid rgb(223, 206, 211);
}
.header_container_box h1{
	color: rgb(223, 206, 211);
	font-size: 3.3rem;
}
.header_container_box h4{
	margin-top: 10px;
	color: rgb(223, 206, 211);
	font-size: 1rem;
}
@media only screen and (max-width: 970px){
	.header_container_box h1{
		font-size: 1.5rem;
	}
	.header_container_box h4{
		font-size: 1rem;
	}
} 
@media only screen and (max-width: 600px){
	.header_container_box h1{
		font-size: 1rem;
	}
	.header_container_box h4{
		font-size: 0.6rem;
	}
} 


































.welcome{
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.welcome_container{
	width: 45vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.welcome h1{
	font-size: 2.7rem;
}
.welcome h5{
	margin-top: 5vh;
	font-size: 1.1rem;
}
@media only screen and (max-width: 970px){
	.welcome{
		margin-top: 2vh;
	}
	.welcome h1{
		font-size: 2rem;
	}
	.welcome h5{
		margin-top: 5vh;
		font-size: 0.9rem;
	}
} 
@media only screen and (max-width: 600px){
	.welcome{
		margin-top: 5vh;
	}
	.welcome h1{
		font-size: 1.5rem;
	}
	.welcome h5{
		margin-top: 5vh;
		font-size: 0.8rem;
	}
} 
@media only screen and (max-width: 320px){
	.welcome{
		margin-top: 1vh;
	}
	.welcome h1{
		font-size: 1rem;
	}
	.welcome h5{
		margin-top: 5vh;
		font-size: 0.6rem;
	}
} 



















































.fitness{
	width: 100%;
	height: 72vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.fitness h1{
	font-size: 2rem;
}
.fitness_container{
	margin-top: 30px;
	width: 80%;
	height: 85%;
}
.row{
	width:100%;
	height: 50%;
	display:flex;
	justify-content: space-around;
}	
.column{
	width:47%;
	height: 70%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	text-align: center;
	background-color: rgb(223, 206, 211);
}
.column h2{
	font-size: 1.9rem;
}
.column h5{
	font-size: 1rem;
}
@media only screen and (max-width: 1500px){
	.column h2{
		font-size: 1.5rem;
	}
	.column h5{
		font-size: 0.9rem;
	}
} 
@media only screen and (max-width: 950px){
	.column h2{
		font-size: 1.3rem;
	}
	.column h5{
		font-size: 0.7rem;
	}
}
@media only screen and (max-width: 600px){
	.fitness h1{
		margin-top: 20px;
		font-size: 1.7rem;
	}
	.row {
		flex-direction: column !important;
	}
	.column{
		width: 100%;
		margin-top: 15px;
	}
	.column h2{
		font-size: 1.1rem;
	}
	.column h5{
		font-size: 0.5rem;
	}
} 
@media only screen and (max-width: 300px){
	.column h2{
		font-size: 0.8rem;
	}
	.column h5{
		font-size: 0.3rem;
	}
} 



























































.slider{
	width: 100%;
	height: 80vh;
	background: url(././img/review_bg.jpg) no-repeat center center / cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider_text{
	width: 30%;
	font-size: 2.7vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fce29b;
}
.slider_container{
	width: 50%;
}






.mySlides {display: none}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-left: 5vw;
}

.text {
  color: black;
  font-size: 1.2rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*.active1, .dot:hover {
  background-color: #717171;
}*/

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 530px){
	.text{
		font-size: 0.8rem;
	}
} 

/* On smaller screens, decrease text size */
@media only screen and (max-width: 482px) {
  .prev, .next,.text {font-size: 11px}
}

