*{
	margin: 0;
	padding:0;
	font-family: 'Josefin Sans', sans-serif;
	scroll-behavior: smooth;
}
header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 100px;
	box-sizing: border-box;
	color: black;
	z-index: 1;
	background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ) ;
}
.clearfix {
  overflow: auto;
}
.header{
	position: fixed;

}
header .logo{
	float: left;
	font-weight:bold;
	height: 70px;
	line-height: 70px;
	color: white;
}
header nav{
	float: right;
	/*background-color: white;*/
}
header nav ul{
	display: flex;
	margin: 0;
	padding: 0;
}
header nav ul li{
	list-style: none;
}
.activeBottom{
	border-bottom:3px solid white; 
}
/*.activeColor{
	color: #00b1b0 !important;
}*/
header nav ul li a{
	height: 70px;
	list-style: none;
	padding: 0 20px;
	line-height:70px;
	text-decoration: none;
	color: white;
	/*border-bottom: 1px solid rgba(0,0,0,.2);*/
}
/*header nav ul li a:hover{
	color: #00b1b0;
}
*/
.menu-toggle{
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}
@media only screen and (max-width: 935px) 
{
	header
	{
		padding: 0 20px !important;
		
	}
	.menu-toggle
	{
		display: block !important;
		color: white
	}
	header nav{
		/*display: none !important;*/
		position: absolute;
		width: 100%;
		height: 100%;
		top: 50px;
		left: -100%;
		transition: 0.5s;
		background: black;
		color: white;
		position: fixed;
		overflow-y: scroll;
	}
	header nav.active{
		left: 0;

	}
	header nav ul{
		display: block;
		text-align: center;
	}
	header nav ul li a{
		color: white;
		/*border-bottom: 1px solid rgba(0,0,0,.2);*/
	}
}



















































.header_container{
	width: 100%;
	height:95vh;
	/*position: relative;*/
	background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('././img/trainers_bg.jpg') no-repeat center center / cover;
	display: inline-block;
	display: flex;
	justify-content: center;
	/*justify-content: space-around;*/
/*	align-items: center;*/
	flex-direction: column;
}
.header_container_box{
	margin-left:5vw;
	width: 30vw;
	height: 55vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
}
.header_container_box h1{
	color: rgb(223, 206, 211);
	font-size: 3.3rem;
	text-align: left;
}
.header_container_box h4{
	margin-top: 10px;
	color: white;
	font-size: 1rem;
	text-align: left;
}
@media only screen and (max-width: 970px){
	.header_container_box h1{
		font-size: 1.5rem;
	}
	.header_container_box h4{
		font-size: 1rem;
	}
} 
@media only screen and (max-width: 600px){
	.header_container_box h1{
		font-size: 1rem;
	}
	.header_container_box h4{
		font-size: 0.6rem;
	}
} 




































.trainers{
	width: 100%;
	height: 160vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.trainers h1{
	font-size: 2.5rem;
	letter-spacing: 1px; 
}
.trainers_conatiner{
	margin-top: 5%;
	width: 100%;
	height: 85%;
}
.row{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}
.column{
	width:40%;
	height: 100%;
	/*border: 1px solid black;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo1{
	width: 100%;
	height: 40%;
	background: url('././img/11.jpg') no-repeat center center / cover;
}
.text{
	width:90%;
	height: 60%;
}
.text h1{
	margin-top: 20px;
	font-size: 3rem;
}
.text h5{
	margin-top: 20px;
	font-size: 1rem;
	letter-spacing: 1px;
}
.text p{
	margin-top: 15px;
	font-size: 0.9rem;
	letter-spacing: 1px;
}
.text li{
	margin-top: 15px;
	font-size: 0.9rem;
	letter-spacing: 1px;
}
.photo2{
	width: 100%;
	height: 40%;
	background: url('././img/22.jpg') no-repeat center center / cover;
}
.photo3{
	width: 100%;
	height: 40%;
	background: url('././img/33.jpg') no-repeat center center / cover;
}
.photo4{
	width: 100%;
	height: 40%;
	background: url('././img/44.jpg') no-repeat center center / cover;
}
@media only screen and (max-width: 1000px){
	.trainers h1{
		font-size: 1.4rem;
	}
	.text h1{
		font-size:1.1rem;
	}
}
@media only screen and (max-width: 900px){
	.trainers h1{
		font-size: 1.5rem;
	}
	.text h1{
		font-size:1.5rem;
	}
	.text h5{
		font-size: 0.9rem;
	}
	.text p{
		font-size: 0.7rem;
	}
	.text li{
		font-size: 0.7rem;
	}
}
@media only screen and (max-width: 600px){
	.row{
		flex-direction: column;
	}
	.column{
		margin-top: 60px;
		width:60%;
	}
	.text h1{
		font-size:1.3rem;
	}
	.text h5{
		font-size: 0.7rem;
	}
	.text p{
		font-size: 0.6rem;
	}
	.text li{
		font-size: 0.6rem;
	}
} 
@media only screen and (max-width: 400px){
	.row{
		flex-direction: column;
	}
	.column{
		margin-top: 60px;
		width:60%;
	}
	.trainers h1{
		font-size: 1.2rem;
	}
	.text h1{
		font-size:1.1rem;
	}
} 