*{
	margin: 0;
	padding:0;
	font-family: 'Josefin Sans', sans-serif;
	scroll-behavior: smooth;
}
header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 100px;
	box-sizing: border-box;
	color: black;
	z-index: 1;
	background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ) ;
}
.header{
	position: fixed;

}
header .logo{
	float: left;
	font-weight:bold;
	height: 70px;
	line-height: 70px;
	color: white;
}
header nav{
	float: right;
	/*background-color: white;*/
}
header nav ul{
	display: flex;
	margin: 0;
	padding: 0;
}
header nav ul li{
	list-style: none;
}
.activeBottom{
	border-bottom:3px solid white; 
}
/*.activeColor{
	color: #00b1b0 !important;
}*/
header nav ul li a{
	height: 70px;
	list-style: none;
	padding: 0 20px;
	line-height:70px;
	text-decoration: none;
	color: white;
	/*border-bottom: 1px solid rgba(0,0,0,.2);*/
}
/*header nav ul li a:hover{
	color: #00b1b0;
}
*/
.menu-toggle{
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}
@media only screen and (max-width: 935px) 
{
	header
	{
		padding: 0 20px !important;
		
	}
	.menu-toggle
	{
		display: block !important;
		color: white
	}
	header nav{
		/*display: none !important;*/
		position: absolute;
		width: 100%;
		height: calc(100vh-50px);
		top: 50px;
		left: -100%;
		transition: 0.5s;
		background: black;
		color: white;
		position: fixed;
		overflow-y: scroll;
	}
	.activeBottom{
		border-bottom:3px solid white; 
	}
	header nav.active{
		left: 0;

	}
	header nav ul{
		display: block;
		text-align: center;
	}
	header nav ul li a{
		color: white;
		/*border-bottom: 1px solid rgba(0,0,0,.2);*/
	}
}



























































.videos{
	margin-top: 150px;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid
}
.videos h1{
	font-size: 2.5rem;
	letter-spacing: 1px;
}
.row{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.column{
	/*border: 1px solid black;*/
	/*width:45%;*/
	height: 90%;
	position: relative;
	/*content: "";
  	clear: both;
  	display: table;*/
  	border: 1px solid blue;

}
.video{
	width:100%;
	height: 46%;
	content: "";
  	clear: both;
  	display: table;
  	border: 1px solid red;
}
.video iframe{
	 position: relative;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  width: 100%;
	  height: 100%;
	  border: none
}
.text{
	/*width:100%;*/
	height: 6vh;
	background-color: #dfced3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.text h1{
	font-size: 1rem;
	letter-spacing: 1px;
}
@media only screen and (max-width: 935px) and (min-width: 600px) 
{
	.text h1{
		font-size: 1rem;
		letter-spacing: 1px;
	}
	#h1{
		font-size: 1.9rem;
	}
	.video iframe{
		height: 116%;
	}

}
@media only screen and (max-width: 600px) 
{
	#h1{
		font-size: 1.5rem;
	}
	.videos{
		height: 300vh;
	}
	
	.row{
		width: 100%;
		height: 100%;
		flex-direction: column;
	}
	.column{
		width:45%;
		height: 45%;
	}
	.video iframe{
		height: 116%;
	}
	.text h1{
		font-size: 0.6rem;
		letter-spacing: 1px;
	}
}
@media only screen and (max-width: 400px) 
{
	.video iframe{
		height: 127%;
	}
}